<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template • TodoMVC</title>
    <link rel="stylesheet" href="node_modules/todomvc-common/base.css">
    <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
    <!-- CSS overrides - remove if you don't need it -->
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<section class="todoapp" id="todoapp">
    <header class="header">
        <h1>todos</h1>
        <input
                class="new-todo"
                placeholder="What needs to be done?"
                v-on:keyup.enter="addTodo"
                v-foucs
                autofocus
        >
    </header>
    <template v-if="todos.length">
        <section class="main">
            <input id="toggle-all" class="toggle-all" type="checkbox"
                   v-model="toggleAllStatu">
            <label for="toggle-all">Mark all as complete</label>
            <ul class="todo-list">
                <!-- These are here just to show the structure of the list items -->
                <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
                <!--<li class="completed">-->
                <!--<div class="view">-->
                <!--<input class="toggle" type="checkbox" checked>-->
                <!--<label>Taste JavaScript</label>-->
                <!--<button class="destroy"></button>-->
                <!--</div>-->
                <!--<input class="edit" value="Create a TodoMVC template">-->
                <!--</li>-->
                <li v-for="(item,index) of filterTodos"
                    v-bind:class="{ completed:item.completed,editing:item==currentEditing }"
                >
                    <div class="view">
                        <input class="toggle" type="checkbox" v-model="item.completed">
                        <label v-on:dblclick="dblClickEditing(item)">{{ item.content }}</label>
                        <button class="destroy" @click="deleteTodo(index,$event)"></button>
                    </div>
                    <input class="edit"
                           v-bind:value="item.content"
                           v-on:keyup.enter="saveEditTodo(item,index,$event)"
                           v-on:blur="saveEditTodo(item,index,$event)"
                           v-on:keyup.esc="cancelEdit"
                           v-edit-focus="currentEditing==item"
                    >
                </li>
            </ul>
        </section>
        <footer class="footer">
            <!-- This should be `0 items left` by default -->
            <span class="todo-count"><strong>{{ getRemaningNum }}</strong> item left</span>
            <!-- Remove this if you don't implement routing -->
            <ul class="filters">
                <li>
                    <a :class="{ selected:filterText==='' }"  href="#/">All</a>
                </li>
                <li>
                    <a :class="{ selected:filterText==='active' }" href="#/active">Active</a>
                </li>
                <li>
                    <a :class="{ selected:filterText==='completed' }" href="#/completed">Completed</a>
                </li>
            </ul>
            <!-- Hidden if no completed items are left ↓ -->
            <button class="clear-completed"
                    v-if="todos.some(item=>item.completed)"
                    v-on:click="clearCompleted"
            >Clear completed
            </button>
        </footer>
    </template>
</section>
<footer class="info">
    <p>Double-click to edit a todo</p>
    <!-- Remove the below line ↓ -->
    <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
    <!-- Change this out with your name and url ↓ -->
    <p>Created by <a href="http://todomvc.com">you</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
<!-- Scripts here. Don't remove ↓ -->
<!--<script src="node_modules/todomvc-common/base.js"></script>-->
<script src="node_modules/vue/dist/vue.js"></script>
<script src="js/app.js"></script>
</body>
</html>
